<!DOCTYPE html>
<html lang="en">
	<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}" />
<head>
	
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js">

  </script>

  <script type="text/javascript">
	var map;
	var marker;
	//as coordenadas iniciais do mapa deve ser inseridas no new google.maps.LatLng(latitude,longitude)
   function initialize() {   
    var mapOptions = {center: new google.maps.LatLng(latitude,longitude),zoom: 15};
    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    google.maps.event.addListener(map, 'click', function(event){placeMarker(event.latLng);

	});
	placeCrimes({{crimes | safe}});
  }
  
  function placeMarker(location) {
	  if (marker) {
          marker.setPosition(location);
      } else {
          marker = new google.maps.Marker({
			  position: location,
              map: map
          });
     }
     document.getElementById('latitude').value = location.lat();
     document.getElementById('longitude').value = location.lng();
  }
  //funcao para marcar os pontos salvos no mapa
  function placeCrimes(crimes) {
    for (i=0; i<crimes.length; i++) {
      crime = new google.maps.Marker( {
      position: new google.maps.LatLng(crimes[i].latitude, crimes[i].longitude),map: map,title: crimes[i].date + "\n" +
      crimes[i].categoria + "\n" + crimes[i].descricao
     }
  );
 }
}

  </script>
  
</head>
<body onload="initialize()">
  <h1>Mapa do Crime</h1>
    <p>Um mapa com as recentes atividades criminosas na área  </p>
    <div id="map-canvas" style="width:70%;height:500px"></div>
    <div id="newcrimeform">
  <h2>Adicionar novo Crime</h2>
    <form action="/adicionarcrime" method="POST">
       <label for="category">Categoria</label>
      <select name="category" id="category">
        <option value="furto">Furto</option>
        <option value="assalto">Assalto</option>
      </select>
        <label for="date">Data</label>
        <input name="date" id="date" type="date">
        <label for="latitude">Latitude</label>
        <input name="latitude" id="latitude" type="text">
        <label for="longitude">Longitude</label>
        <input name="longitude" id="longitude" type="text">
        <label for="description">Descrição</label>
        <textarea name="description" id="description" placeholder="breve descrição do acontecimento"></textarea>
      <input type="submit" value="Adicionar">
    </form>
  </div>
</body>
</html>
